body {
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 2rem 2rem 3rem 3rem;
}

.resize {
  background-color: #353535;
  border-radius: 1rem;
  resize: both;
  object-fit: scale-down;
  overflow: hidden;
}

.depth-effect {
  border-radius: 2rem;
}
.depth-effect:hover {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1) inset,
    -10px -10px 10px rgba(255, 255, 255, 0.1) inset;
}

.container {
  /* this help to make specific all size in one line instead of separate min() max() */

  /* width: clamp(min, prefer, max); */
  width: clamp(400px, 50vw, 800px);
  background-color: #353535;
}

.glass {
  backdrop-filter: blur(10px);
  border-radius: 2rem;
  background-color: #353535;
}

.gradient-text {
  background: linear-gradient(to right, red, blue);
  background-clip: text;
  color: transparent;
}

:root {
  counter-reset: headings;
}

h3 {
  counter-increment: headings;
}

h3::before {
  content: counter(headings);
  background-color: #006bc2;
  border-radius: 1rem;
  padding: 0.15rem 0.3rem;
  margin: 0 1rem 0rem 0rem;
  text-align: center;
}

.wrapper {
  display: flex;
  gap: 20px;
  width: 300px;
  overflow-x: scroll;

  scroll-snap-type: x mandatory; /* this line is what he teach to make it snap */
}

.card {
  scroll-snap-align: center; /* this line is what he teach to make it snap */
  box-sizing: border-box;
  padding: 20px 30px;
  flex-shrink: 0;
  width: 300px;
  background-color: #353535;
  border-radius: 2rem;
  text-align: center;
}
